*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    box-sizing: border-box;
    background: linear-gradient(45deg, #0057b9, #ff00f2, #008fbe);
    height: 100%;
}

a{
    text-decoration: none;
}

.header{
    height: 700px;
    width: 100%;
    display: grid;
    background: url("../imagens/left-s.png");
    background-repeat: no-repeat;
    background-position: -380px 30px;
    
}

.nav{
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #00e1ff3a;
    height: 50px;
    width: 90%;
    left: 50%;
    border-radius: 50px;
    top: 10px;
    transform: translate(-50%);
    align-items: center;
    z-index: 1;
}

.logo-nav img{
    height: 45px;
    margin-left: 30px;
    margin-top: 3px;
}

.ul-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav a{
    text-shadow: rgba(0, 0, 0, 0.452) 0 0 10px, rgba(0, 0, 0, 0.452) 0 0 20px, rgba(0, 0, 0, 0.452) 0 0 10px ;
    color:#ffffff;
    font-size: 20px;
    font-weight: 400;
}

.nav a:hover{
    color: #0e448b;
}

.perfil{
    height: 700px;
    width: 100%;
    text-align: center;
    align-content: center;
    color: #ffffff;

}

.img-perfil img{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #ffffff 3px solid;
}

.info-pefil{
    margin-top: 40px;
    width: 100%;
    height: 120px;
}

.info-pefil h1{
    font-size: 50px;
    font-weight: 100;
}

.info-pefil h2{
    font-size: 32px;
    font-weight: 100;
}

.info-perfil h4{
    font-weight: 100;
}


.contato-rapido{
    width: 550px;
    height: 65px;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px auto;
}

.contato-rapido img{
    width: 50px;
    height: 50px;

}

.whatsapp{
    border: #ffffff 1px solid;
    width: 210px;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}

.curriculo{
    border: #ffffff 1px solid;
    width: 210px;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}

.whatsapp:hover, .curriculo:hover{
    border: #0057b9 1px solid;

}


.whatsapp h3, .curriculo h3{
    color: #ffffff;
}

.arrow{
    margin-top: 20px;
}


.redes1{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 200px;
    background-color: #00e1ff3a;
    border-radius: 20px 0px 0 20px;
    align-content: center;
}

.img-redes{
    display: grid;
    text-align: center;
    row-gap: 15px;
}

.img-redes img{
    width: 60%;
}

.main1{
    margin: 0 auto;
    border-radius: 30px 0 30px  30px;
    width: 95%;
    height: 350px;
    align-content: center;
    background-color: rgb(255, 255, 255);
    
}

.main1-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    align-items: center;
}

.lado-a{
    align-content: center;
/*    background-image: url("https://cdn-icons-gif.flaticon.com/11186/11186843.gif");*/
    background-image: url("https://jonmgomes.com/wp-content/uploads/2020/05/Comp_1.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
}


.lado-b{
    width: 100%;
    height: 50%;
    justify-items: center;
    display: grid;
    align-items: center;
}



.lado-b h1{
    align-content: center;
    color:#0057b9;
    font-size: 45px;
    font-weight: 100;
    margin-bottom: 0px;
}

.lado-b span{
    color: rgb(195, 0, 255);
}

.lado-b h3{
    color: #000000;
    font-weight: 100;
    width: 93%;
    text-align: left;
}








.main2{

    width: 100%;
    height: 550px;
}

.box{
    border-bottom: rgb(255, 255, 255) 2px solid;
    height: 550px;
    width: 95%;
    text-align: center;
    align-items: center;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 45% 55%;

}

.box2{
    border-bottom: rgb(255, 255, 255) 2px solid;
    height: 550px;
    width: 95%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 55% 45%;

}

.box-img{
    height: 500px;
    align-items: center;
    align-content: center;

}

.box-img img{
    width: 550px;
    height: auto;
}

.box-info{
    height: 550px;
    align-items: center;
    align-content: center;
    text-align: left;
    display: grid;
    color: #e6eaff;
}

.box-info h1{
    width: 85%;
    font-size: 50px;
    font-weight: 200;
    margin: 0 auto;
    height: 60px;
}

.box-info h3{
    margin: 0 auto;
    width: 85%;
    font-size: 25px;
    font-weight: 200;
    height: 30px;
}

.box-info p{
    margin: 0 auto;
    width: 85%;
    text-align: justify;
    font-size: 15px;
    font-weight: 100;
    height: 280px;
    align-content: center;
}

.box-info-button{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 160px 160px;
}

.box-info-button button{
    width: 120px;
    height: 50px;
    background-color: #014e68;
    color: #e6eaff;
    border: solid 1px #ffffff;
    border-radius: 30px;
}

.box-info-button button:hover{
    background-color: #008fbe;
    cursor: pointer;
}
